body {

background: linear-gradient(160deg,#020617,#020b1f);

color:white;

font-family: Inter;

margin:0;

}



.navbar {

display:flex;

justify-content:space-between;

padding:20px 60px;

align-items:center;

}



.logo {

font-size:28px;

font-weight:700;

color:#4cc9ff;

}



nav button {

margin-left:15px;

background:transparent;

border:1px solid #1e3a8a;

color:#ccc;

padding:8px 14px;

border-radius:8px;

cursor:pointer;

}



.hero {

text-align:center;

margin-top:120px;

}



.hero h1 {

font-size:48px;

}



.hero span {

color:#38bdf8;

}



.searchbox {

margin-top:40px;

}



.searchbox input {

width:400px;

padding:14px;

border-radius:12px;

border:none;

background:#0f172a;

color:white;

font-size:16px;

}



.searchbox button {

padding:14px 20px;

margin-left:10px;

background:#2563eb;

border:none;

border-radius:12px;

color:white;

cursor:pointer;

}



.quick button {

margin:10px;

background:#1e3a8a;

border:none;

padding:10px 20px;

border-radius:10px;

color:white;

cursor:pointer;

}



.results {

margin:80px auto;

max-width:800px;

}



.card {

background:#020617;

border:1px solid #1e3a8a;

padding:25px;

margin-bottom:25px;

border-radius:16px;

transition:.3s;

}



.card:hover {

transform:translateY(-6px);

}



.card h3 {

color:#38bdf8;

}

